*.swp
*.swo
*.war
*.class
*.dpf
*.netbeans_automatic_build
*.netbeans_update_resources
*.orig
ActivityManagerWebPrivate/dist/gfdeploy/
ActivityManagerWebPrivate/ActivityManagerWebPrivate-war/nbproject/private/private.properties
ActivityManagerWebPrivate/ActivityManagerWebPrivate-war/nbproject/private/private.xml
ActivityManagerWebPrivate/ActivityManagerWebPrivate-war/nbproject/project.properties
ActivityManagerWebPrivate/nbproject/private/private.properties
ActivityManagerWebPrivate/nbproject/project.properties
